<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @city.banner_url %>');">
  <div class="container">
    <h1><%= @city.name %> </h1>
    <a class="btn btn-success" href="#">Visit now</a>
  </div>
</div>

<div class="container p-3">
  <%= link_to 'Edit', edit_city_path(@city), class: 'btn btn-secondary' %> |
  <%= link_to 'Back', cities_path, class: 'btn btn-primary' %>

  <div class="cards p-5">
    <% @city.sites.each do |site| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= site.image_url %>')">
        <%= site.name %>
        <%= link_to "+", site_path(site), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
      </div>
    <% end %>
  </div>

  <div class="p-5">

    <%= simple_form_for [@city, @site] do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.input :rating %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>